_prev/
dotnetapi/
instance_name.txt
ubuntu_configuration.txt
nodejsapi/
ubuntu/
phpapi/
ssl/
*.pem
*.key
*.crt
*.dll
*.exe
*.obj
*.pdb
bin/
obj/
.vs/
*.suo
*~
*.user
*.csproj.user
*.vspscc
packages/
.vscode/